<li>
	{{burger_name}}
	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{!-- {{#if devoured}}Devour!{{else}}One more!{{/if}} --}}
		Devour!
	</button>
	{{/if}}
	{{#unless devoured}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button> 
	{{/unless}}
</li>